* {
	margin: 0;
	padding: 0;	
}

body {
	background-color: #F5F5F5;
}

#navbar {
	z-index: 2000;
	width: 100%;
	height: 50px;
	background-color: rgba(20,20,20,.8);
	margin-top: 0px;
	position: fixed;
	color: white;
}

#navbar p {
	margin-top: 10px;
}

#links {
	text-align: right;
	margin-top: 12px;
	font-family: sans-serif;
}

#links a {
	padding-right: 20px;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: white;
	font-family: Overlock, sans-serif;
	font-size: 20px;
}

a:visited {
	text-decoration: none;
	color: white;
}

.bigsection {
	height: auto;
	border: 1px solid rgba(50,50,50,0);
}

#landingpage {
	background-image: url("Media/ocean-ice-smaller.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

#landingpage h1 {
	text-align: center;
	margin-top: 40vh;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 65px;
}

#about{
	height: 735px;
	width: 100%;
}

#selfie {
	height: 400px;
	width: 400px;
	margin-top: 150px;
	margin-left: 60px;
	clear: none;
	float: left;
}

#text {
	float: right;
	font-family: Overlock, sans-serif;
	font-size: 20px;
	width: 900px;
	margin-top: 170px;
}

#text h1 {
}

#text p {
	font-size: 23px;
	margin-top: 40px;
}

#resume {
	background-color: #BBDEFB;
	height: 200px;
	text-align: center;
}

#resume a {
	font-family: Lato, sans-serif;
	font-size: 30px;
	border-radius: 10px;
	display: block;
	margin-top: 63px;
	margin-left: auto;
	margin-right: auto;
	width: 10vh;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 200px;
	padding-right: 230px;
	background-color: black;
}

#contact {
	height: 500px;
}

#contact a{
	font-family: Lato, sans-serif;
	font-size: 30px;
	border-radius: 10px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	width: 10vh;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 200px;
	padding-right: 230px;
	background-color: black;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1360px) {
	#selfie {
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	#about {
		height: 950px;
	}

	#text {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		float: none;
		width: 100%;
		text-align: center;
	}

	#text h1 {
		text-align: center;
	}

	#resume {
		margin-top: 100px;
		height: 200px;
	}

	#resume a {
		padding-left: 150px;
		padding-right: 180px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 60px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#selfie {
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}


	#text {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		float: none;
		width: 100%;
		text-align: center;
	}

	#text h1 {
		text-align: center;
	}

	#resume {
		margin-top: 75px;
		height: 240px;
	}

	#resume a {
		padding-left: 150px;
		padding-right: 180px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 80px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#selfie {
		/* center the image */
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;

		/* make the image smaller */
		width: 350px;
		height: 350px;
	}

	#text {
		/* center the text */
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
		/* have it occupy the screen */
		width: 100%;
		text-align: center;

		/* some border room */
		/*padding: 30px;*/
	}

	#about {
		height: 1050px;
	}	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#about {
		height: 700px;
		text-align: center;
	}
	#text {
		margin-top: 40px;
	}
	#text h1{
		text-align: center;
	}

	 #text p {
	 	margin-left: auto;
	 	margin-right: auto;
	 	margin-top: 30px;
	 }

	 #resume {
	 	margin-top: 400px;
	 	height:180px;
	 }

	 #resume a {
	 	font-size: 25px;
	 	padding-left: 75px;
	 	padding-right: 100px;
	 	padding-top: 20px;
	 	padding-bottom: 20px;
	 	margin-top: 55px;
	 }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#landingpage {
		background-size: cover;
    	background-attachment: fixed;
    	background-position: center center;

    	@media (max-width: @iphone-screen) {
        	background-attachment: scroll;
    	}
	}

	#about {
		height: 800px;
		text-align: center;
	}

	#selfie {
		width: 300px;
		height: 300px;
	}

	#text {
		margin-top: 40px;
	}

	#text h1{
		text-align: center;
	}

	 #text p {
	 	margin-left: auto;
	 	margin-right: auto;
	 	margin-top: 30px;
	 }

	 #resume {
	 	margin-top: 400px;
	 	height:180px;
	 }

	 #resume a {
	 	font-size: 25px;
	 	padding-left: 75px;
	 	padding-right: 100px;
	 	padding-top: 20px;
	 	padding-bottom: 20px;
	 	margin-top: 55px;
	 }
    
}