* {
	margin: 0;
	padding: 0;
}

#navbar {
	width: 100%;
	height: 50px;
	background-color: rgba(50,50,50,.7);
	margin-top: 0px;
	position: fixed;
	color: white;
}

#navbar p {
	margin-top: 10px;
}

#links {
	text-align: right;
	margin-top: 12px;
	font-family: sans-serif;
}

#links a {
	padding-right: 20px;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 20px;
}

a:visited {
	text-decoration: none;
	color: white;
}

.bigsection {
	height: 100vh;
	border: 1px solid rgba(50,50,50,0);
}

#landingpage {
	background-image: url("Media/ocean-ice-smaller.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#landingpage h1 {
	text-align: center;
	margin-top: 40vh;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 65px;
}

#about img {
	width: 50vh;
	height: 50vh;
	margin-top: 15vh;
}
