* {
	margin: 0;
	padding: 0;	
}

body {
	background-color: #F5F5F5;
}

#navbar {
	z-index: 2000;
	width: 100%;
	height: 50px;
	background-color: rgba(20,20,20,.8);
	margin-top: 0px;
	position: fixed;
	color: white;
}

#navbar p {
	margin-top: 10px;
}

#links {
	text-align: right;
	margin-top: 12px;
	font-family: sans-serif;
}

#links a {
	padding-right: 20px;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: white;
	font-family: Overlock, sans-serif;
	font-size: 20px;
}

a:visited {
	text-decoration: none;
	color: white;
}

.bigsection {
	height: 100vh;
	border: 1px solid rgba(50,50,50,0);
}

#landingpage {
	background-image: url("Media/ocean-ice-smaller.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#landingpage h1 {
	text-align: center;
	margin-top: 40vh;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 65px;
}

#about{
	height: 100vh;
}

#Selfie img {
	height: 60vh;
	width: 60vh;
	margin-top:20vh;
	margin-left: 10vh;
	clear:none;
}

#text {
	font-family: Overlock, sans-serif;
	font-size: 20px;
	width:90vh;
	position: relative;
	left: 80vh;
	bottom: 60vh;
}

#text h1 {
}

#text p {
	font-size: 23px;
	margin-top: 40px;
}

#resume {
	background-color: #BBDEFB;
	height: 30vh;
	text-align: center;
}

#resume a {
	font-family: Lato, sans-serif;
	font-size: 30px;
	border-radius: 10px;
	display: block;
	margin-top: 57px;
	margin-left: auto;
	margin-right: auto;
	width: 10vh;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 200px;
	padding-right: 220px;
	background-color: black;
}

#four {
	display: none;
}