* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  color: #BDC9D0;
}

.homePage {
  background-image: url("assets/WebpageBackground.png");
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: 10px;
  padding-right: 10px;
}

.decorLine {
  border: 1px solid #BDC9D0;
  width: 20vw;
  margin-top: 5vh;
}

.sectionTitle {
  text-align: center;
  font-size: 1.75rem;
  padding-top: 5vh;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  color: white;
}

.title {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
}

.separator {
  width: 100vw;
  height: 1px;
  background-color: #2A3058;
}

#aboutMeSection {
  padding-top: 2vh;
  height: 10vh;
}

.aboutMeContainer {
  background-color: #0B0D1A;
  height: 100vh;
  overflow: hidden;
}

.programmerDogs {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.programmerDogs img {
  height: 400px;
  opacity: 80%;
}

.aboutMe {
  display: flex;
  justify-content: center;
}

.description {
  text-align: center;
  line-height: 1.5;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vh;
}

.resumeContainer {
  background-color: #0B0D1A;
  min-height: 100vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: hidden;
}

.resumeEntryContainer {
  display: flex;
  justify-content: center;
  font-style: italic;
  padding-top: 5vh;
}

.dates {
  font-weight: 200;
  padding-right: 5vw;
  width: 15vw;
}

.resumeEntry {
  width: 70vw;
}

.jobTitle {
  font-size: 20px;
  font-weight: 350;
  color: white;
}

.experience {
  font-weight: 200;
}

.skillsContainer {
  padding-left: 23vw;
  padding-top: 1vh;
  padding-bottom: 4vh;
}

.skillList {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
;}

.skillBox {
  padding-top: 0.5vh;
  padding-right: 5px;
}

.skill {
  background-color: #648599;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
