html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
}

h1, h4 {
  text-align: center;
}

h1 {
  margin-top: 15vh;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 20vh;
  transition: all 1s;
}

.title.wordChange {
  color: transparent;
}

.name {
  height: 50vh;
  width: 50vw;
  float: left;
  background-image: url(media/me.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background 1s
}

.about {
  height: 50vh;
  width: 50vw;
  float: right;
  background-image: url(media/koda.jpg);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background 1s
}

.projects {
  height: 50vh;
  width: 50vw;
  float: right;
  background-image: url(media/deer.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background 1s;
}

.resume {
  height: 50vh;
  width: 50vw;
  float: left;
  background-image: url(media/finn.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background 2s;
}

.about:hover, .name:hover, .projects:hover, .resume:hover {
  background-size: 110%;
}

.innerBox {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  transition: all 1s;
}

.innerBox:hover {
  background-color: transparent;
}

.innerBox.bgChange {
  background-color: rgba(0,0,0,.9);
}

.link {
  text-decoration: none;
  visibility: hidden;
  color: transparent;
  font-size: 40px;
  text-align: center;
  transition: all 1s;
}

.info {
  color: transparent;
  visibility: hidden;
  text-align: center;
  margin-top: -17vh;
  transition: all 1s;
}

.info.visible {
  margin-top: -15vh;
}

.link.visible {
  visibility: visible;
  color: white;
  transition: all .5s;
}

.link.visible:hover {
  font-size: 50px;
}

.projLink {
  text-decoration: none;
  visibility: hidden;
  color: transparent;
  font-size: 40px;
  text-align: center;
  transition: all 1s;
}

.projLink.visible {
  text-decoration: none;
  visibility: visible;
  color: white;
  transition: all .5s;
}

.projLink.visible:hover {
  font-size: 50px;
}

.aboutInfo {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  color: transparent;
  visibility: hidden;
  font-size: 20px;
  text-align: center;
  margin-top: -11vh;
  transition: all 1s;
}

.aboutInfo.visible {
  visibility: visible;
  color: white;
  margin-top: -9vh;
}

.webLink {
  margin-bottom: 2vh;
}

.projectsInfo {
  color: transparent;
  visibility: hidden;
  text-align: center;
  margin-top: -18vh;
  transition: all 1s;
}

.projectsInfo.visible {
  margin-top: -16vh;
  /* visibility: visible;
  color: white; */
}

@media (max-width: 1130px) {
  .projects {
    background-size: 150%;
  }
  .projects:hover {
    background-size: 160%;
  }
}

@media (max-width: 835px) {
  .name {
    background-size: 150%;
  }
  .name:hover {
    background-size: 160%;
  }

  .projects {
    background-size: 175%;
  }
  .projects:hover {
    background-size: 185%;
  }
}

@media (max-width: 680px) {
  .name {
    background-size: 200%;
  }
  .name:hover {
    background-size: 210%;
  }

  .projects {
    background-size: 250%;
  }
  .projects:hover {
    background-size: 260%;
  }

  .about {
    background-size: 200%;
  }

  .about:hover {
    background-size: 210%;
  }

  .resume {
    background-size: 200%;
  }

  .resume:hover {
    background-size: 210%;
  }
}

@media (max-width: 455px) {
  .name {
    background-size: 250%;
  }

  .name:hover {
    background-size: 260%;
  }

  .about {
    background-size: 250%;
  }

  .about:hover {
    background-size: 260%;
  }

  .resume {
    background-size: 250%;
  }

  .resume:hover {
    background-size: 260%;
  }

  .projects {
    background-size: 320%;
  }

  .projects:hover {
    background-size: 330%;
  }
}

@media (max-width: 350px) {
  .name {
    background-size: 300%;
  }

  .name:hover {
    background-size: 310%;
  }

  .about {
    background-size: 300%;
  }

  .about:hover {
    background-size: 310%;
  }

  .resume {
    background-size: 300%;
  }

  .resume:hover {
    background-size: 310%;
  }

  .projects {
    background-size: 400%;
  }

  .projects:hover {
    background-size: 410%;
  }
}
