* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  color: #BDC9D0;
}

.homePage {
  background-image: url("assets/WebpageBackground.png");
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: 10px;
  padding-right: 10px;
}

.decorLine {
  border: 1px solid #BDC9D0;
  width: 10vw;
  margin-top: 5vh;
}

.sectionTitle {
  text-align: center;
  font-size: 2rem;
  padding-top: 5vh;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  color: white;
}

.title {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
}

.separator {
  width: 100vw;
  height: 1px;
  background-color: #2A3058;
}

.aboutMeSection {
  background-color: #0B0D1A;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.programmerDogs {
  height: 400px;
  width: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/ProgrammerDogs.png");
}

.aboutMeText {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
}

.cornerContainer {  
  background:
    linear-gradient(to right, white 2px, transparent 2px) 0 0,
    linear-gradient(to left, white 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, white 2px, transparent 2px) 0 0,
    linear-gradient(to top, white 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 175px 175px;
}

.description p {
  max-width: 700px;
  text-align: justify;
  line-height: 1.75;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 4vh;
  padding-left: 4vh;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

.resumeContainer {
  background-color: #0B0D1A;
  min-height: 100vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: hidden;
}

.resumeEntryContainer {
  display: flex;
  justify-content: center;
  font-style: italic;
  padding-top: 5vh;
}

.dates {
  font-size: 18px;
  font-weight: 200;
  padding-right: 5vw;
  width: 15vw;
}

.resumeEntry {
  width: 70vw;
}

.jobTitle {
  font-size: 22px;
  color: white;
}

.experience {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75;
}

.skillsContainer {
  padding-left: 23vw;
  padding-top: 1vh;
  padding-bottom: 4vh;
}

.skillList {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
;}

.skillBox {
  padding-top: 0.5vh;
  padding-right: 5px;
}

.skill {
  background-color: #648599;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.contactContainer {
  min-height: 10vh;
  background-color: #0B0D1A;
  display: flex;
  justify-content: center;
}

.contactContainer img {
  height: 30px;
  padding-top: 3vh;
  padding-right: 10vw;
}