body {
  margin: 0;
  background-color: #a0c8f4;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#greeting {
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* padding-right: 15vw; */
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-size: 10vh;
  font-weight: Thin;
  margin-top: 2vh;
}

#arrow {
  position: absolute;
  margin-top: 7vw;
}

#arrowText {
  font-size: 1.5vw;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  margin-left: 20vw;
}

#arrow img{
  margin-left: 21vw;
  height: 5vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #130808;
  padding-top: 5vh;
}

.aboutme {
  height: 100vh;
  background-color: #130808;
}

#content {
  /* margin-top: -5vh; */
  background-color: #000000;
  height: 100vh;
}

.layer {
  /* background-position: bottom center; */
  background-size: auto;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

.layer-bg {
  background-image: url("media/6.png");
}

.layer-1 {
  background-image: url("media/5.png");
  /* background-position: left bottom; */
  background-position: bottom;
  background-size: 100vw;
}

.layer-2 {
  background-image: url("media/4.png");
  background-position: bottom;
  background-size: 100vw;
}

.layer-3 {
  background-image: url("media/3.png");
  /* background-position: right bottom; */
  background-position: bottom;
  background-size: 100vw;
}

.layer-4 {
  background-image: url("media/2.png");
  background-position: bottom;
  background-size: 100vw;
}

/* it me */
.layer-5 {
  background-image: url("media/1.png");
  background-position: bottom left;
  margin-left: 5vw;
}

/* .layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
} */

@media only screen and (max-width: 768px) {
  #hero {
    margin-top: 0;
  }
  .layer-1 {
    background-image: url("media/5.png");
    /* background-position: left bottom; */
    background-position: bottom;
  }

  .layer-2 {
    background-image: url("media/4.png");
    background-position: bottom;
    background-size: 150vw 35vh;
  }

  .layer-3 {
    background-image: url("media/3.png");
    /* background-position: right bottom; */
    background-position: bottom;
    background-size: 150vw 30vh;
  }

  .layer-4 {
    background-image: url("media/2.png");
    background-position: bottom;
    background-size: 150vw 15vh;
  }

  .layer-5 {
    background-image: url("media/1.png");
    background-position: bottom left;
    margin-left: 5vw;
    background-size: auto 40vh;
  }

}
